/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 มี.ค. 2558, 21:44:42
    Author     : Setsuna
*/
/* line 14, ../scss/main.scss */
#hv_header_container {
  background-color: blue;
  height: 80px;
  font-size: 2em;
  padding: 10px;
  color: white;
  margin-bottom: 50px;
}

/* line 24, ../scss/main.scss */
#hv_content_container #hv_upload_form_container {
  text-align: center;
}
/* line 28, ../scss/main.scss */
#hv_content_container #hv_report_view_container {
  text-align: center;
}
/* line 32, ../scss/main.scss */
#hv_content_container #hv_report_result_container {
  text-align: center;
}
